.sd
  &.notificationForm
    .closedCheckedbox
      margin: auto
      border: black solid
      border-radius: 6px
      padding: 0.5em 0
    .sd.borderForm
      background-color: rgba(256, 256, 256, 0.3);
      border-color: #101010
      border-style: solid
      border-radius: 10px
      padding-top: 15px
      padding-bottom: 15px
    input
      &.dates
        padding-right: 0
        width: 100%
