{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sonidos Libres</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link href="{% static "vendor/initial-loader.css"%}" rel="stylesheet">
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
        <link href="{% static "bundles/css/main.css"%}" rel="stylesheet">

    </head>
    <body>

        <div id="initialLoader">
          <div id="col-1" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-2" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-3" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-4" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-5" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-6" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-7" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-8" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-9" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-10" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-11" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-12" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-13" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-14" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-15" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div id="col-16" class="loader-column">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div><!-- initialLoader End -->
        <span id="csrf_token">
            {% csrf_token %}
        </span>
        <div id="container"></div>
        {% render_bundle 'main' %}
    </body>
    {% load static %}
    <script src="{% static 'vendor/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</html>
